@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* base page d'accueil*/
html {
  min-width: 500px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/*header page d'accueil*/
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 1rem;
}
header h1 {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* search-bar */
.search-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 80px;
  background: linear-gradient(180deg, #cbcbcb 1%, #eaeaea 12%);
  font-size: 20px;
}

.search-bar input {
  border: none;
  width: 100%;
  margin-left: 30px;
  background-color: transparent;
}

input::placeholder {
  font-family: "Roboto", sans-serif;
  color: #6b6b6b;
}

/*section reservation */
.reservation {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}
.reservation h2 {
  width: 70%;
  font-size: 1.6rem;
  margin-top: 50px;
  margin-bottom: 0px;
}
.reservation p {
  font-size: 1.4rem;
  margin-top: 20px;
  color: #6b6b6b;
}
.reservation button {
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(356deg, #9356dc, #ff79da);
  color: white;
  box-shadow: 1px 1px 6px 0px grey;
}
.reservation button:hover {
  opacity: 0.7;
  box-shadow: 0px 16px 20px -5px gray;
  transition: 350ms;
  border: none;
  cursor: pointer;
}

/* section fonctioning */
.fonctionnement {
  font-family: "Roboto", sans-serif;
}
.fonctionnement h3 {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 1.5rem;
}
.fonctionnement .btn_fonctionnement {
  counter-reset: list;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8%;
}
.fonctionnement .btn_fonctionnement .restau,
.fonctionnement .btn_fonctionnement .menu,
.fonctionnement .btn_fonctionnement .degustez {
  box-shadow: 1px 1px 6px 0px grey;
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 5px;
  background-color: #f6f6f6;
  border-radius: 20px;
}
.fonctionnement .btn_fonctionnement ol {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.fonctionnement .btn_fonctionnement ol button {
  border: none;
  background-color: white;
  border-radius: 20px;
}
.fonctionnement .btn_fonctionnement ol li:hover {
  opacity: 0.7;
  box-shadow: 0px 16px 20px -5px gray;
  transition: 350ms;
  border: none;
  cursor: pointer;
}
.fonctionnement .btn_fonctionnement li {
  position: relative;
}
.fonctionnement .btn_fonctionnement li::before {
  content: counter(list);
  counter-increment: list;
  background-color: #9356dc;
  color: white;
  font-size: 10px;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  left: -10px;
}
.fonctionnement .btn_fonctionnement li p {
  margin-right: 80px;
}
.fonctionnement .btn_fonctionnement .svg-inline--fa {
  color: gray;
  margin-left: 30px;
}

/* Section restaurant*/
.restaurant {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}
.restaurant h2 {
  padding-top: 20px;
  margin-left: 30px;
}
.restaurant h3 {
  width: 80%;
  margin-right: 0px;
  font-size: 1.5rem;
}
.restaurant img {
  width: 100%;
  height: 160px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.restaurant .full_card {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.restaurant .card {
  border-radius: 20px;
  width: 90%;
  margin-left: 4%;
  margin-right: 6%;
  margin-bottom: 20px;
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 6px 0px grey;
}
.restaurant .card a {
  text-decoration: none;
  color: black;
}
.restaurant .card a .news {
  position: absolute;
  top: 0px;
  right: 30px;
  padding: 3px 20px 3px 20px;
  border-radius: 5px;
  background-color: #99e2d0;
  color: green;
}
.restaurant .card .title_icon {
  margin-left: 20px;
  position: relative;
}
.restaurant .card .title_icon .fa-regular {
  position: absolute;
  right: 15px;
  bottom: -10px;
  font-size: 35px;
}
.restaurant .card .title_icon .fa-regular:hover {
  transition-duration: 4s;
  transition-property: margin-right, color;
  background-image: linear-gradient(356deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}
.restaurant .card p {
  margin-top: 20px;
  margin-left: 20px;
}

@media only screen and (max-width: 3500px) and (min-width: 992px) {
  .reservation button {
    width: 23%;
  }
  .fonctionnement .btn_fonctionnement {
    margin-right: 2%;
  }
  .restaurant h2 {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .restaurant .full_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 0px;
  }
  .restaurant .card {
    width: 30%;
    margin-left: auto;
    margin-right: 11%;
    margin-bottom: 3%;
  }
  footer h2 {
    margin-top: 0px;
  }
  .footer_p {
    display: flex;
    gap: 85px;
  }
}
/* footer*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding-left: 30px;
}
footer h2 {
  font-size: 1.7rem;
  font-family: "Shrikhand", cursive;
  padding-top: 30px;
}
footer p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  margin-top: 3px;
}
footer p i {
  margin-right: 5px;
}
footer a {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}

@keyframes menu {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading_finish {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.load {
  background-color: rgba(255, 255, 255, 0.959);
  position: fixed;
  inset: 0;
  z-index: 1;
  animation: loading_finish 3s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.progress {
  width: 211.2px;
  height: 38.7px;
  border-radius: 35.2px;
  color: #ff79da;
  border: 3.5px solid;
  position: relative;
  top: 450px;
  margin: auto;
  z-index: 2;
}
.progress p {
  font-family: "Shrikhand", cursive;
  position: absolute;
  top: -100px;
  font-size: 2.4rem;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.progress::before {
  content: "";
  position: absolute;
  margin: 3.5px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: progress-pf82op 1.6s infinite;
}

@keyframes progress-pf82op {
  100% {
    inset: 0;
  }
}

/*# sourceMappingURL=style.css.map */
