@mixin hover {
  background-color: #d6b7fc;
  color: black;
  opacity: 0.8;
  box-shadow: 0px 16px 20px -5px gray;
  transition: 350ms;
  border: none;
  cursor: pointer;
}

@mixin font-roboto {
  font-family: "Roboto", sans-serif;
}
@mixin box-shadow {
  box-shadow: 1px 1px 6px 0px grey;
}
@mixin button {
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(356deg, #9356dc, #ff79da);
  color: white;
  @include box-shadow;
}
/*@mixin heart {
  transition-duration: 4s;
  transition-property: margin-right, color;
  background-image: linear-gradient(356deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}
*/
